
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h1>Exchange</h1>
    <br />
    <form asp-controller="Transactions" asp-action="Exchange" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">From what Currency</label>
            <select class="form-control" id="fromCurrency" name="fromCurrency">
                <option>RON</option>
                <option>EUR</option>
                <option>USD</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Amount of money</label>
            <input type="number"
                   class="form-control"
                   value="5"
                   name="amount"
                   id="amount"
                   placeholder="Enter amount" />
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">To what Currency</label>
            <select class="form-control" id="toCurrency" name="toCurrency">
                <option>EUR</option>
                <option>RON</option>
                <option>USD</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Amount of money after conversion</label>
            <input disabled type="number"
                   value="1"
                   class="form-control"
                   id="finalAmount" />
        </div>
        <div class="form-check">
            <input dispabled type="checkbox" class="form-check-input" id="agreements" onclick="terms_changed(this)" />
            <label class="form-check-label" for="agreements">
                I confirm that I have read, understand and agree to MyBank
                Policies
            </label>
        </div>
        <br />
        <button class="btn btn-danger" id="SubmitBtn" disabled>Exchange</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src ="~/js/exchange.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>