@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <br />
    <h1>Successful Transaction</h1>
    <br />
    <div class="alert alert-success" role="alert">
        Your transaction was successful. Make a
        <a asp-area="" asp-controller="Transactions" asp-action="Index" class="alert-link">New Transaction</a>
        or return to <a asp-area="" asp-controller="Home" asp-action="Index" class="alert-link">Home Page</a>.
        <br />
        We wish you a big, fat wallet and thank you for choosing MyBank.
    </div>
</div>