@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>For further info go to MyBank subsidiaries or locations.
    You can also contact us at <span class="font-weight-bold">contact@mybank.com</span></p>

<p>Every and each one of your actions is final after confirming.
    We do not take blame for wrongly done transfers or exchanges.</p>
